/* Custom scrollbar styles with rounded corners */
.scrollbar-custom::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px; /* Rounded corners for the track */
}
.scrollbar-custom::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px; /* Rounded corners for the thumb */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* For Firefox */
.scrollbar-custom {
	scrollbar-width: thin;
	scrollbar-color: #888 #f1f1f1;
}

.scrollbar-custom {
	--scrollbar-bg: #888;
	--scrollbar-track-bg: #f1f1f1;
}

.scrollbar-custom *::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.scrollbar-custom *::-webkit-scrollbar-track {
	background: var(--scrollbar-track-bg);
	border-radius: 10px; /* Rounded corners for the track */
}

.scrollbar-custom *::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-bg);
	border-radius: 10px; /* Rounded corners for the thumb */
	border: 2px solid var(--scrollbar-track-bg);
}

.scrollbar-custom *::-webkit-scrollbar-thumb:hover {
	background: #555;
}
